# Python bytecode & virtual environments
__pycache__/
*.py[cod]
.venv/
.env

# Git & CI
.git/
.gitignore
.gitattributes
.github/

# OS junk
.DS_Store

# Editors
.idea/
.vscode/

# other unnecessary files/folders
docs/
__helpers/
*.md
LICENSE
docker-compose.yaml
