services:
  mdnx-auto-dl:
    image: ghcr.io/hypernylium/mdnx-auto-dl:latest
    container_name: mdnx-auto-dl
    restart: unless-stopped
    volumes:
      # log file location
      - ./appdata/logs:/app/appdata/logs:rw

      # mdnx-auto-dl config location.
      - ./appdata/config:/app/appdata/config:rw

      # multi-download-nx config location
      - ./appdata/mdnx/config:/app/appdata/bin/mdnx/config:rw

      # plex/jellyfin/emby anime storage location.
      # Only modify the left side, not the right.
      # Example:
      #- /mnt/plexdata/Anime:/data:rw
      - ./appdata/data:/data:rw

      ### This is the CDM section that is required in order to run.
      ### Please choose what CDM you have (widevine or playready)
      ### and uncomment the correct bind-mount with your .bin/.pem files or .prd file inside.

      ## Widevine
      #- ./appdata/mdnx/widevine:/app/appdata/bin/mdnx/widevine:rw

      ## Playready
      #- ./appdata/mdnx/playready:/app/appdata/bin/mdnx/playready:rw

    expose:
      - "8090"
    environment:
      - UID=1000
      - GID=1000
      - TZ=America/New_York

  # webui is optional.
  # only supports modifying config.json and restarting mdnx-auto-dl.
  mdnx-auto-dl-webui:
    image: ghcr.io/hypernylium/mdnx-auto-dl-webui:latest
    container_name: mdnx-auto-dl-webui
    restart: unless-stopped
    volumes:
      - ./appdata/config:/app/appdata/config:rw

    depends_on:
      - mdnx-auto-dl
    ports:
      - "8080:8080"
    environment:
      - UID=1000
      - GID=1000
      - TZ=America/New_York
      - CONTROL_URL=http://mdnx-auto-dl:8090/restart
