name: Lint test

on:
  push:
    branches: [ master, dev ]
    paths:
      - "*.py"
      - "**/*.py"
  pull_request:
    branches: [ master, dev ]
    paths:
      - "*.py"
      - "**/*.py"

jobs:
  ruff-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.5
          args: check .
